/*Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343*/

/*font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;*/

/*ALL*/

body {
  background-color:#F2F1E8;
  color:#131511;
  font-family:'Merriweather', serif;
}

header {
  position: fixed;
  width:100%;
  background-color: #FFFFFF;
  padding:25px 20px 10px 20px;
  margin:-20px;
  top:0;
  right:0;
  z-index:2;
  display:flex;
}

#logo {
height:30px;
width:50px;
flex-basis:5%;
align-self: center;
padding: 5px;
}

nav {
display: flex;
justify-content: center;
flex-basis: 95%;
align-self: center;
}

a {
  color: #2B2F26;
  padding-left:30px;
  padding-right:30px;
}

a:hover {
  color:#967343;
}

/*HOME*/

#title {
  margin-top:80px;
  text-align: center;
  font-size: 60px;
}

#subtitle {
  text-align: center;
  font-size: 30px;
}

#section1 {
  display:flex;
  height:300px;
}

#img1 {
background-size: cover;
flex-basis: 50%;
background-image: url("./images/product-1.jpg");
margin:5px;
}

#img1 p {
  background-color: #2B2F26;
  color: #F2F1E8;
  width:175px;
  text-align:center;
  margin-top: 250px;
}

#img2 {
background-size: cover;
flex-basis: 25%;
background-image: url("./images/product-2.jpg");
margin:5px;
}

#img2 p {
  background-color: #2B2F26;
  color: #F2F1E8;
  width:50px;
  text-align:center;
  margin-top: 250px;
}

#img3 {
background-size: cover;
flex-basis: 25%;
background-image: url("./images/product-3.jpg");
margin:5px;
}

#img3 p {
  background-color: #2B2F26;
  color: #F2F1E8;
  width:100px;
  text-align:center;
  margin-top: 250px;
}

#section2 {
  display:flex;
  height:200px;
  margin-bottom: 80px;
}

#img4 {
  background-size: cover;
  flex-basis: 20%;
  background-image: url("./images/product-4.jpg");
  margin:5px;
}

#img4 p {
  background-color: #2B2F26;
  color: #F2F1E8;
  width:100px;
  text-align:center;
  margin-top: 150px;
}

#img5 {
  background-size: cover;
  flex-basis: 20%;
  background-image: url("./images/product-5.jpg");
  margin:5px;
}

#img5 p {
  background-color: #2B2F26;
  color: #F2F1E8;
  width:175px;
  text-align:center;
  margin-top: 150px;
}

#img6 {
  background-size: cover;
  flex-basis: 40%;
  background-image: url("./images/product-6.jpg");
  margin:5px;
}

#img6 p {
  background-color: #2B2F26;
  color: #F2F1E8;
  width:150px;
  text-align:center;
  margin-top: 150px;
}

#img7 {
  background-size: cover;
  flex-basis: 20%;
  background-image: url("./images/product-7.jpg");
  margin:5px;
}

#img7 p {
  background-color: #2B2F26;
  color: #F2F1E8;
  width:175px;
  text-align:center;
  margin-top: 150px;
}

/*ABOUT*/

.pagepadding {
  padding-left: 10%;
  padding-right: 10%;
  line-height: 2;
}

#title-about {
  margin-top: 80px;
  text-align: center;
  font-size: 50px;
}

#imgbirbs {
  background-image: url(."/images/birdhouse.jpg");
  background-size: cover;
  height:100px;
  width:100px;
  float:left;
}

blockquote {
  border-left: solid;
  border-left-color: grey;
  border-width: thin;
  color:grey;
  padding-left:20px;
  font-style: italic;
}

#subtitle1-about {
  font-size: 25px;
}

#bg3 {
  background-image: url("./images/background-3.jpg");
  background-size: cover;
  width:100%;
  height:250px;
}

#bg3 p {
  color:#F2F1E8;
  text-align: center;
  font-size: 50px;
  padding-top: 80px;
}

#subtitle2-about {
  font-size: 25px;
}

.fac_1 {
  display: flex;
}

.fac_1 img {
  float: right;
  height: 85px;
}

figure img {
  margin-bottom: 1em;
}

figcaption {
  font-size: 10px;
}

#subtitle3-about {
  font-size: 25px;
}

#section4-about {
margin-bottom: 80px;
}

table {
  border: 1px solid #131511;
  align-content: center;
  border-collapse: collapse;
}
th {
  border: 1px;
  border-style: solid;
  border-color: #131511;
  padding:5px;
}

td {
  border: 1px;
  border-style: solid;
  border-color: #131511;
  padding:5px;
}

#tr2{
  background-color: #F2EADC;
}

#tr4{
  background-color: #F2EADC;
}

/*ALL*/

footer {
background: #2B2F26;
color: #F2F1E8;
padding: 20px 0px 20px 15px;
position: fixed;
bottom: 0;
left: 0;
height: 20px;
width: 100%;
z-index: 2;
}
